<form class="form" [formGroup]="articleForm">
    <in-card class="form-row">
        <in-input
            class="form-item"
            [formCtrl]="articleForm.get('article')"
            placeholder="Название статьи"
            label="Название статьи"
            type="text"
        ></in-input>
        <in-input
            class="form-item"
            [formCtrl]="articleForm.get('link')"
            placeholder="Ссылка"
            label="Ссылка"
            type="text"
        ></in-input>
        <in-select
            class="form-item"
            [formCtrl]="articleForm.get('difficulty')"
            [options]="difficultyOptions"
            [isFilter]="true"
            label="Сложность"
        ></in-select>
    </in-card>

    <in-card class="form-row">
        <in-textarea
            class="form-item"
            [formCtrl]="articleForm.get('description')"
            [autosize]="true"
            minRow = 5
            label="Краткое описание"
            placeholder="Введите краткое описание"
        ></in-textarea>
    </in-card>

    <div class="form-row">
        <app-tag-list
            [isEditing]="true"
        ></app-tag-list>
    </div>
</form>

<div class="controls-row">
    <in-button
        class="controls-item"
        appearance="accent"
        type="raised"
        (click)="saveHandler(true)"
    >
        Сохранить
    </in-button>
    <in-button
        class="controls-item"
        appearance="warn"
        type="raised"
        (click)="saveHandler(false)"
    >
        Отменить
    </in-button>
</div>