in-card {
    background-color: #EFEFEF;
}

.form {
    margin-top: 40px;
}

.form-row {
    margin-top: 20px;
}

.form-item {
    margin-left: 40px;

    &:first-child {
        margin-left: 0;
    }
}

.controls-row {
    margin-top: 80px;
}

.controls-item {
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
    }
}