:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: var(--S260);
    margin: 0 auto;
}

.logo {
    margin-bottom: var(--S20);
}

.description {
    margin-bottom: var(--S20);
    text-align: center;

    h2 {
        font-size: var(--S24);
        font-weight: bold;
    }
}

.form {
    padding: var(--S40);

    form {
        display: grid;
        place-items: center;
        gap: var(--S20);
    }
}